.nav-container {
    border: 1px solid white;
    border-radius: 0;
}

.navbar-brand{
  color: black;
}

.btn-sign-out{
  border-radius: 5px;
  background-color: blueviolet;
  height: 50px;
  color: white;
  width: 100px;
  margin: 10px;

}

.btn-sign-in{
  border-radius: 5px;
  background-color: lightseagreen;
  height: 50px;
  color: white;
  width: 100px;
  margin: 10px;
}

.btn-sign-out a{
  color: white;
}
.btn-sign-in a{
  color: white;
}

.btn-sign-in a:hover{
  color: black;
}
.btn-sign-out a:hover{
  color: black;
}

.navbar-nav :hover{
  text-decoration: none;
  background-color: white !important;
  border-radius: 1px;
  background-color: grey;  
}
.links{
  color: black;
  margin: 10px;

}

.navbar-brand{
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 180%;
}
.navbar{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
