{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="container col-md-4 " style="background-color: #fff;
    border: 1px solid #e8e8e9;
    padding: 25px 20px;">     
      <div class="sidebar-sticky"> 
        <nav class="d-none d-md-block bg-light sidebar">
          <h1 class="text-muted " style="color:grey; "> News Sources A-Z</h1>
          {% for source in sources %}
            <p>
              <a href="/source/{{source.id}}">{{ source.name }}</a>
            </p>
          {% endfor %}
        </nav>     
      </div>
    </div>
  
    <div class="container col-md-7" style="background-color: #fff;
    border: 1px solid #e8e8e9;
    padding: 25px 20px;float: right">
      <div></div>
        <h1> Top Headlines </h1>
        <hr>
        {% for headline in Headlines %}
        {% if headline.urlToImage%}
        <div class="card">
          <div class="card-body">
            <h5 style="size:21px;color: grey" class="card-title">{{ headline.title }}</h5>
            <hr>
            <p class="card-text">{{ headline.description }}</p>
            <a href="{{ headline.url }}">Read more...</a>
            <p class="card-text"><small class="text-muted">Article by {{ headline.author }} on {{ headline.publishedAt}}</small></p>
          </div>
          <img src="{{ headline.urlToImage }}" class="card-img-top img-responsive" alt="...">
          <br>
          <hr>
        </div>
    

    
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div> 
</div>

{% endblock %}
