{% extends 'base.html' %}
{% block content %}

<div class="row">
<title>Home - Baseline News</title>
  {% for everything_item in everything %}
  {% if everything_item.urlToImage%}
  <div class="news-card card col-sm-12 col-xs-12 col-md-6 col-lg-6 col-xl-6" style="background-color: transparent; border: none;">
    <div class="wrapper" style="background-image: url({{everything_item.urlToImage}}); background-size:cover; background-position: center; background-repeat: no-repeat;">
      <div class="date">
        <span class="year">{{everything_item.publishedAt|truncate(13)}}</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">{{ everything_item.author }}</span>
          <h1 class="title"><a href="{{ everything_item.url }}">{{ everything_item.title }}</a></h1>
          <p class="text">{{ everything_item.description }}</p>
        </div>       
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
<style>
	.footer-2 {
  background-color: teal;
  color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
  .footer-2 p {
    text-align: center;
  }
}

.text-right a {
  text-decoration: blink;
  color: rgb(233, 0, 58);
}

</style>
<div class="footer-2 shadow-lg">
        <div class="container">
            <div class="row">
                <div class="col-8 col-sm-6 col-md-6">
                    <p class="text-left" style="margin-top:5%;margin-bottom:3%;">© 2020 @iamcwilv&nbsp; &nbsp;</p>
                </div>
                <div class="col-12 col-sm-6 col-md-6">
                    <p class="text-right" style="margin-top:5%;margin-bottom:8%%;font-size:1em; text-decoration: none;">Made with&nbsp;<i class="fa fa-heart"></i>&nbsp;and Flask by @geoffreymungai</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}