
<link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='css/sources.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{url_for('static',filename='css/forms.css')}}">

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="navbar navbar-light nav-container" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand text-uppercase" href="/"> Zorin News </p>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="btn-sign-outa"><a href="/">Home</a></li>
                </ul>
                <ul class="nav navbar-nav">
                  <li class="btn-sign-outa"><a href="/sources">Sources</a></li>
              </ul>
              <form method="get" class="nav navbar-nav" action="/search">
                <div class="wrap">
                  <div class="search">
                     <input type="text" class="searchTerm" name="keyword" placeholder="What are you looking for?" required>
                     <button type="submit" class="searchButton">
                       <i class="fa fa-search"></i>
                    </button>
                  </div>
               </div>
              </form>
                <ul class="nav navbar-nav navbar-right">
                  {% if current_user.is_anonymous %}
                  <li class="btn-sign-in text-center"><a href="{{url_for('auth.login')}}">Sign in</a></li>
                  {% else %}

                  <a href="#">Profile</a>
                  <li class="btn-sign-out text-center"><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                  
                  {% endif %}
                </ul>
            </div>
        </div>
    </div>
  </body>
</html>
