<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Search Results</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="row">
	{% for everything_item in searched_news %}
	{% if everything_item.urlToImage%}
	<div class="news-card card col-sm-12 col-xs-12 col-md-12 col-lg-6 col-xl-6">
	  <div class="wrapper" style="background-image: url({{everything_item.urlToImage}}) ;">
		<div class="date">
		  <span class="year">{{everything_item.publishedAt|truncate(13)}}</span>
		</div>
		<div class="data">
		  <div class="content">
			<span class="author">{{ everything_item.author }}</span>
			<h1 class="title"><a href="{{ everything_item.url }}">{{ everything_item.title }}</a></h1>
			<p class="text">{{ everything_item.description }}</p>
			<label for="show-menu" class="menu-button"><span></span></label>
		  </div>
		  <input type="checkbox" id="show-menu" />
		  <ul class="menu-content">
			<li>
			  <a href="#" class="fa fa-bookmark-o"></a>
			</li>
			<li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
			<li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
		  </ul>
		</div>
	  </div>
	</div>
	{%else%}
	<p>nothing here</p>
	{% endif %}
	{% endfor %}
  </div>
{% endblock %}
</body>
</html>

